.container{
    max-width: 1500px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 30px;
    padding-bottom: 45px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
